NET "CLOCK" TNM_NET = CLOCK;
TIMESPEC TS_CLOCK = PERIOD "CLOCK" 40 ns HIGH 50%;
OFFSET = IN 10 ns BEFORE "CLOCK";
OFFSET = OUT 10 ns AFTER "CLOCK";
NET "CLOCK" LOC = AG18; #clock 27 Mhz
NET "COUNT_OUT<24>" LOC = H18;
NET "COUNT_OUT<25>" LOC = L18;
NET "COUNT_OUT<26>" LOC = G15;
NET "COUNT_OUT<27>" LOC = AD26;
NET "DIRECTION" LOC = AJ6; #GPIO_SW_C (SW14 in centre)
NET "DIRECTION" PULLDOWN;
